/* Box utama Tips Keuangan */
.tips-container {
    border: 4px solid #FF4D00;
    border-radius: 30px;
    padding: 30px;
    background-color: #fff;
}

/* Tombol Tips Keuangan melayang */
.floating-tips {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFC928;
    padding: 6px 14px;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.floating-tips:hover {
    background-color: #e3b221;
    color: #000;
}
